<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/header.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <title>여향 | Main</title>
<script>
    window.onload = function () {
      document.getElementById("loading").style.display = "none";
    }
  </script>
</head>
<body>
  <div id="loading"><img id="loading-image" src="/img/loading.gif" alt="Loading..." /></div>
    <header>
        <a href=""><img class="logo" src="img/logo.svg" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li>
                    <a href="recommend">추천</a>
                </li>
                <li>
                    <a href="/category/fragrance?q=&page=1&sorter=latest-asc">프레그런스</a>
                </li>
                <li>
                    <a href="/category/bath-and-body?q=&page=1&sorter=latest-asc">배스 앤 바디</a>
                </li>
                <li>
                    <a href="/category/home-fragrance?q=&page=1&sorter=latest-asc">홈 프레그런스</a>
                </li>
            </ul>
        </nav>
        <ul class="cta_area">
            <li>
                <% if(!user){ %>
                    <a class="cta_mypage" href="/auth/login"><img src="/img/mypage.svg"></a>
                    <% } else { %>
                        <!-- <p>Welcome <%= user.displayName %></p> -->
                        <!-- <a class="cta_mypage" href="auth/logout"><img src="<%= user.picture%>"></a> -->
                        <a class="cta_mypage" href="/mypage"><img class="user_picture" src="<%= user.picture%>"></a>
                        <% } %>
            </li>
        </ul>
    </header>
    <section>
        <video src="img/background.mp4" autoplay muted loop="10"></video>
    </section>

    <a href="/fragrance/list/product/71"><img class="sample_1" src="img/sample_1.png"></a>
    <div class="btm_container">
        <img src="img/circle.svg" class="left_circle">
        <img src="img/line.svg">
        <div class="today_perfume">오늘의 향수</div>
        <img src="img/line.svg">
        <img src="img/circle.svg" class="right_circle">
    </div>
</body>

</html>