<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/header.css" type="text/css" />
  <link rel="stylesheet" href="css/my_page.css" type="text/css" />
  <title>여향 | My Page</title>
</head>

<body>
  <header>
    <a href="/"><img class="logo" src="img/logo.svg" alt="logo"></a>
    <nav>
      <ul class="nav_links">
        <li>
          <a href="recommend">추천</a>
        </li>
        <li>
          <a href="/category/fragrance?q=&page=1&sorter=latest-asc">프레그런스</a>
        </li>
        <li>
          <a href="/category/bath-and-body?q=&page=1&sorter=latest-asc">배스 앤 바디</a>
        </li>
        <li>
          <a href="/category/home-fragrance?q=&page=1&sorter=latest-asc">홈 프레그런스</a>
        </li>
      </ul>
    </nav>
    <ul class="cta_area">
      <li>
        <% if(!user){ %>
          <a class="cta_mypage" href="/auth/login"><img src="/img/mypage.svg"></a>
          <% } else { %>
            <a class="cta_mypage" href="/mypage"><img class="user_picture" src="<%= user.picture%>"></a>
            <% } %>
      </li>
    </ul>
  </header>
  <section>
    <div class="top_container">
      <div class="profile_container">
        <img class="profile_picture" src="<%= user.picture%>"></a>
        <div class="nickname_area">
          <div class="nickname">
            <%= user.displayName%>
          </div>
          <h2>님</h2>
        </div>
        <a class="cta_mypage logout" href="/auth/logout">로그아웃 ></a>
      </div>
      <div class="wishlist_container">
        <div class="wishlist_left_btn">
          <img src="img/left_arrow.svg">
        </div>
        <div class="wishlist_content">
          <h1>찜한 상품</h1>
        </div>
        <div class="wishlist_right_btn">
          <img src="img/right_arrow.svg">
        </div>
      </div>
    </div>
    <div class="bottom_container">
      <div class="my_review_container">

      </div>
      <div class="my_recommand_container"></div>
    </div>
  </section>
</body>

</html>