<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/header.css" type="text/css" />
  <title>여향 | My Page</title>
</head>

<body>
  <header>
    <a href="/"><img class="logo" src="img/logo.svg" alt="logo"></a>
    <nav>
      <ul class="nav_links">
        <li>
          <a href="recommend">추천</a>
        </li>
        <li>
          <a href="fragrance">프레그런스</a>
        </li>
        <li>
          <a href="bathandbody">배스 앤 바디</a>
        </li>
        <li>
          <a href="homefragrance">홈 프레그런스</a>
        </li>
      </ul>
    </nav>
    <ul class="cta_area">
      <li>
        <% if(!user){ %>
          <a class="cta_mypage" href="/auth/login"><img src="/img/mypage.svg"></a>
          <% } else { %>
            <!-- <p>Welcome <%= user.displayName %></p> -->
            <!-- <a class="cta_mypage" href="auth/logout"><img src="<%= user.picture%>"></a> -->
            <a class="cta_mypage" href="/mypage"><img class="user_picture" src="<%= user.picture%>"></a>
            <% } %>
      </li>
    </ul>
  </header>
  <a class="cta_mypage" href="/auth/logout">로그아웃</a>
</body>

</html>