<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/header.css" type="text/css" />
  <link rel="stylesheet" href="css/recommend.css" type="text/css" />
  <link rel="stylesheet" href="css/modal.css" type="text/css" />
  <title>여향 | Recommend</title>
</head>

<body>
  <header>
    <a href="/"><img class="logo" src="img/logo.svg" alt="logo"></a>
    <nav>
      <ul class="nav_links">
        <li>
          <a href="recommend">추천</a>
        </li>
        <li>
          <a href="fragrance">프레그런스</a>
        </li>
        <li>
          <a href="bathandbody">배스 앤 바디</a>
        </li>
        <li>
          <a href="homefragrance">홈 프레그런스</a>
        </li>
      </ul>
    </nav>
    <ul class="cta_area">
      <li>
        <a class="cta_mypage" href="mypage"><img src="img/mypage.svg"></a>
      </li>
    </ul>
  </header>
  <section>
    <div class="top_container">
      <div class="todays_frag_container">
        <div class="title_area">
          <h1>오늘의 향수</h1>
        </div>
        <div class="todays_frag">
          <img class="todays_frag_img" src="img/sample_1.png">
          <div class="todays_frag_info">
            <div class="brand">구찌</div>
            <div class="name">[알케미스트 가든]<br>Fading Autumn, Woods</div>
            <div class="weather">
              <div class="temp_container">
                <h2>평균 기온</h2>
                <div class="temp">27 °C</div>
              </div>
              <div class="preci_container">
                <h2>강수 확률</h2>
                <div class="preci">40 %</div>
              </div>
            </div>
            <h3>평균 기온과 강수 확률을 분석하여<br>
              오늘 뿌리기 좋은 향수를 알려드립니다.</h3>
          </div>
        </div>
        <div class="view_more">
          <a href="/fragrance/list/product/71">
            <h4>더보기 ></h4>
          </a>
        </div>
      </div>
      <div class="magazine_container">
        <div class="title_area">
          <h1>매거진</h1>
        </div>
        <div class="magazine_content_container">
          <div class="magazine_content" id="mag_1">
            <div class="magazine_preview">
              <img src="img/mag1.png" class="magazine_preview_img">
            </div>
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">EDP? EDT?</div>
                <div class="magazine_date">21.06.25</div>
              </div>
              <div class="magazine_explain">
                오 드 코롱과 오 드 뚜왈렛, 구분하는 기준이 <br>
                도대체 무엇일까? '부향률'에 대해서 알아보았다.
              </div>
            </div>
          </div>
          <div class="magazine_content" id="mag_2">
            <div class="magazine_preview">
              <img src="img/mag2.png" class="magazine_preview_img">
            </div>
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">향수 사용 설명서</div>
                <div class="magazine_date">21.06.24</div>
              </div>
              <div class="magazine_explain">
                매력 있는 사람들의 비밀, 향수 사용의 <br>
                비밀 팁을 알아보았다.
              </div>
            </div>
          </div>
          <div class="magazine_content" id="mag_3">
            <div class="magazine_preview">
              <img src="img/mag3.png" class="magazine_preview_img">
            </div>
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">마릴린 먼로의 No. 5</div>
                <div class="magazine_date">21.06.24</div>
              </div>
              <div class="magazine_explain">
                "침대에서 뭘 입고 주무세요?" <br>"샤넬 No. 5요."
              </div>
            </div>
          </div>
          <div class="magazine_content" id="mag_4">
            <div class="magazine_preview">
              <img src="img/mag4.png" class="magazine_preview_img">
            </div>
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">샤넬 썸머 컬렉션 미리보기</div>
                <div class="magazine_date">21.06.23</div>
              </div>
              <div class="magazine_explain">
                NEW 샤넬 코코 마드모아젤 썸머 컬렉션을 <br>
                빠르게 알아보았다.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right_container">
        <div class="keyword_container">
          <div class="title_area">
            <h1>MD의 추천 키워드</h1>
          </div>
          <div class="keyword_content_container">
            <div class="keywords">
              <h6>1. </h6>
              <div class="keyword">조말론</div>
            </div>
            <div class="keywords">
              <h6>2. </h6>
              <div class="keyword">알케미스트 가든</div>
            </div>
            <div class="keywords">
              <h6>3. </h6>
              <div class="keyword">구찌</div>
            </div>
            <div class="keywords">
              <h6>4. </h6>
              <div class="keyword">미스 디올</div>
            </div>
            <div class="keywords">
              <h6>5. </h6>
              <div class="keyword">캘빈 클라인</div>
            </div>
          </div>
        </div>
        <a href="/fragrance/list/product/26"><div class="ads_container">
        </div></a>
      </div>
    </div>
  </section>
  <div id="modal_mag_1" class="modal_overlay">
    <div class="modal_window_mag">
      <div class="close_area3"><img src="img/x_btn.svg"></div>
      <div class="mag_title">
        EDP? EDT?
      </div>
      <div class="mag_explain">
        오 드 퍼퓸과 오 드 뚜왈렛, 구분하는 기준이 도대체 무엇일까? '부향률'에 대해서 알아보았다.
      </div>
      <div class="mag_date">
        21.06.25
      </div>
      <hr class="mag_line">
      <div class="mag_content">
        <img src="img/mag1.png" class="mag_img">
        <div class="mag">
          &nbsp;향수를 구매하러 가면 '페라리 스쿠데리아 블랙 EDT', '더바디샵 화이트 머스크 EDP'와 같이 뒤에 붙은 'EDT', 'EDP' 등의 단어를 볼 수 있다. 이번
          글에서는 이
          단어들이
          도대체 무엇을 뜻하는 것인지
          알아보도록 하자.
          <br><br>
          &nbsp;'EDP'는 Eau De Parfum(오 드 퍼퓸)의 줄임말, 'EDT'는 Eau De Toilette(오 드 뚜왈렛)의 줄임말이다. 향수는 향료의 함량, 즉 부향률에
          따라
          일반적으로 오드 코롱, 오 드 뚜왈렛,
          오 드 퍼퓸, 퍼퓸의 네 종류로 나뉜다. 부향률이 높을수록 향이 강하고 지속 시간이 길다.
          <br><br>
          &nbsp;여향에서는 부향률별 검색을 지원하고 있으니, 원하는 부향률의 향수를 손쉽게 찾아보자!
        </div>
      </div>
    </div>
  </div>
  <div id="modal_mag_2" class="modal_overlay">
    <div class="modal_window_mag">
      <div class="close_area4"><img src="img/x_btn.svg"></div>
      <div class="mag_title">
        향수 사용 설명서
      </div>
      <div class="mag_explain">
        매력 있는 사람들의 비밀, 향수 사용의 비밀 팁을 알아보았다.
      </div>
      <div class="mag_date">
        21.06.24
      </div>
      <hr class="mag_line">
      <div class="mag_content">
        <img src="img/mag2.png" class="mag_img">
        <div class="mag">
          &nbsp;향수, 그냥 무작정 손목에 뿌리고 있지 않은가? 조금 더 매력적으로 향수를 사용하는 방법을 소개한다. 생각보다 별 거 아니지만 실현하기 어려운 그,
          컴바이닝(combining)이다.
          <br><br>
          &nbsp;향을 조금 알거나, 자주 쓰는 사람만 감각 있게 서로 다른 향을 적절히 섞을 수 있기 때문에 어려운 방법이다. 그래서 에디터가 추천하는 방식은
          레이어링(layering)이다.
          <br><br>
          &nbsp;레이어링은 컴바이닝에 비해 비교적 쉽다. 비슷한 노트 구성의 향수를 구매하여, 겹쳐서 사용하면 되기 때문이다. 분위기에 따라 깊이 있게 레이어드하기도 하고, 가볍게
          레이어드하기도 하며 농도를 조절해보자. 만약
          레이어링에 익숙해졌다면, 그 때 컴바이닝에 도전해보는 것이 어떨까?
        </div>
      </div>
    </div>
  </div>
  <div id="modal_mag_3" class="modal_overlay">
    <div class="modal_window_mag">
      <div class="close_area5"><img src="img/x_btn.svg"></div>
      <div class="mag_title">
        마릴린 먼로의 No. 5
      </div>
      <div class="mag_explain">
        매력 있는 사람들의 비밀, 향수 사용의 비밀 팁을 알아보았다.
      </div>
      <div class="mag_date">
        21.06.24
      </div>
      <hr class="mag_line">
      <div class="mag_content">
        <img src="img/mag3.png" class="mag_img">
        <div class="mag">
          &nbsp;향수, 그냥 무작정 손목에 뿌리고 있지 않은가? 조금 더 매력적으로 향수를 사용하는 방법을 소개한다. 생각보다 별 거 아니지만 실현하기 어려운 그,
          컴바이닝(combining)이다.
          <br><br>
          &nbsp;향을 조금 알거나, 자주 쓰는 사람만 감각 있게 서로 다른 향을 적절히 섞을 수 있기 때문에 어려운 방법이다. 그래서 에디터가 추천하는 방식은
          레이어링(layering)이다.
          <br><br>
          &nbsp;레이어링은 컴바이닝에 비해 비교적 쉽다. 비슷한 노트 구성의 향수를 구매하여, 겹쳐서 사용하면 되기 때문이다. 분위기에 따라 깊이 있게 레이어드하기도 하고, 가볍게
          레이어드하기도 하며 농도를 조절해보자. 만약
          레이어링에 익숙해졌다면, 그 때 컴바이닝에 도전해보는 것이 어떨까?
        </div>
      </div>
    </div>
  </div>
  <div id="modal_mag_4" class="modal_overlay">
    <div class="modal_window_mag">
      <div class="close_area6"><img src="img/x_btn.svg"></div>
      <div class="mag_title">
        샤넬 썸머 컬렉션 미리보기
      </div>
      <div class="mag_explain">
        NEW 샤넬 코코 마드모아젤 썸머 컬렉션을 빠르게 알아보았다.
      </div>
      <div class="mag_date">
        21.06.23
      </div>
      <hr class="mag_line">
      <div class="mag_content">
        <img src="img/mag4.png" class="mag_img">
        <div class="mag">
          &nbsp;산뜻한 프루티 향을 선사하는 이번 샤넬 여름 리미티드 에디션은 여름을 위해 가벼운 포뮬러로, 간편하게 소지할 수 있는 휴대용 사이즈로 출시되었다.
          <br><br>
          &nbsp;주요 제품인 '코코 마드모아젤 오 드 빠르펭'은 신선하면서도 거부할 수 없는 매력의 여성스러운 오리엔탈 향수이다. 생동감 넘치고 관능적인 오렌지 노트가 감각을 깨우고
          화사한 쟈스민과 장미 어코드가 대조를 이루며
          설렘을 안겨주며, 팟츌리와 베티베가 코코 마드모아젤의 향기를 강조하며 여성스러운 매력을 더해준다. 이외에도 코코 마드모아젤 노트를 품은 바디 제품 라인, 네세세르도 함께
          출시되었다.
          <br><br>
          &nbsp;여름을 담아낸 향수를 여향에서 곧 만나볼 수 있길 바란다.
        </div>
      </div>
    </div>
  </div>
  <script src="js/modal.js" type="text/javascript"></script>
</body>

</html>