<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/header.css" type="text/css" />
    <link rel="stylesheet" href="css/review.css" type="text/css" />
    <title>여향 | 후기</title>
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="img/logo.svg" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li>
                    <a href="/recommend">추천</a>
                </li>
                <li>
                    <a href="/category/fragrance?q=&page=1&sorter=latest-asc">프레그런스</a>
                </li>
                <li>
                    <a href="/category/bath-and-body?q=&page=1&sorter=latest-asc">배스 앤 바디</a>
                </li>
                <li>
                    <a href="/category/home-fragrance?q=&page=1&sorter=latest-asc">홈 프레그런스</a>
                </li>
            </ul>
        </nav>
        <ul class="cta_area">
            <li>
                <% if(!user){ %>
                    <a class="cta_mypage" href="/auth/login"><img src="/img/mypage.svg"></a>
                <% } else { %>
                    <a class="cta_mypage" href="mypage"><img class="user_picture" src="<%= user.picture%>"></a>
                <% } %>
            </li>
        </ul>
    </header>
    <section>
        <div class="top_container">
            <a class="back_btn" href="javascript:history.back();"><img src="img/back_btn.svg"></a>
            <h1>상품 후기</h1>
            <a class="review_write_btn" href="review_form.html">후기 작성하기</a>
        </div>
        <div class="product_info_container">
            <div class="product_name">[알케미스트 가든] Fading Autumn, Woods</div>
            <div class="rate">
                <img class="rate_fill" src="img/rate_fill.svg">
                <img class="rate_fill" src="img/rate_fill.svg">
                <img class="rate_fill" src="img/rate_fill.svg">
                <img class="rate_blank" src="img/rate_blank.svg">
                <img class="rate_blank" src="img/rate_blank.svg">
            </div>
        </div>
        <div class="review_count_container">
            <h2>총</h2>
            <div class="review_count">24</div>
            <h2>개</h2>
        </div>
        <div class="review_list_container">
            <div class="review_container">
                <div class="review_top_container">
                    <div class="profile_container">
                        <img class="profile_img" src="img/profile_pic1.png">
                        <div class="profile_name">인생의수레바퀴</div>
                    </div>
                    <div class="review_info_container">
                        <div class="review_date">2021-06-17</div>
                        <div class="review_action_container">
                            <a class="review_update_btn" href="#">수정</a>
                            <a class="review_delete_btn" href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <div class="review_title">비싸지만 비싼 값을 한다.</div>
                <div class="review_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </section>
</body>

</html>