body {
  width: 1920px;
  background-color: #f8f8f3;
}

section {
  display: flex;
  flex-flow: row;
}

h1 {
  color: #434343;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
}

h2 {
  color: #434343;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 24px;
}

h3 {
  font-weight: normal;
  font-size: 12px;
}

input[type='text'] {
  width: 200px;
  height: 32px;
  font-size: 16px;
  line-height: normal;
  background-color: #f8f8f3;
  border-style: none;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  opacity: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #434343;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type='checkbox']:checked {
  border-style: none;
  background-image: url('../img/checkbox_checked.svg');
  opacity: 100%;
}

.left_container {
  display: fixed;
  width: 348px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #434343;
}

.search_area {
  display: flex;
  width: 228px;
  flex-direction: row;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
}

.search_icon {
  width: 26px;
  height: 27px;
  cursor: pointer;
}

.all_search_area {
  display: flex;
  height: 166.5px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
  padding-left: 60px;
  padding-top: 20px;
}

.dilution_area {
  display: flex;
  height: 351px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
  padding-left: 60px;
  padding-top: 30px;
}

.dilution_check_area {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
}

.check_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.check_text {
  color: #434343;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-left: 8px;
}

.brand_area {
  display: flex;
  height: 452px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
  padding-left: 60px;
  padding-top: 30px;
}

.scroll_check_area {
  display: flex;
  width: 228px;
  height: 250px;
  margin-top: 30px;
  flex-direction: column;
  overflow-y: scroll;
}

.scroll_check_area::-webkit-scrollbar {
  width: 4px;
}

.scroll_check_area::-webkit-scrollbar-thumb {
  background-color: #434343;
}

.scroll_check_area::-webkit-scrollbar-track {
  background-color: rgba(67, 67, 67, 0.2);
}
.note_area {
  display: flex;
  height: 452px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
  padding-left: 60px;
  padding-top: 30px;
}

.right_container {
  display: flex;
  width: 1572px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #434343;
}

.right_nav_container {
  display: flex;
  width: 1572px;
  height: 80.5px;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
  padding-left: 40px;
}

.align_menu {
  display: flex;
  flex-direction: row;
  margin-left: 900px;
}

.align_btn {
  color: #434343;
  font-weight: normal;
  font-size: 20px;
  margin-right: 30px;
  opacity: 40%;
}

.align_btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.category_text {
  color: #434343;
  font-weight: normal;
  font-size: 24px;
}

.right_content_container {
  display: flex;
  width: 1572px;
  height: 100%;
  flex-direction: row;
}

.list_content_container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #434343;
}

.list_container {
  display: flex;
  width: 1372px;
  flex-flow: row wrap;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 130px;
  padding-bottom: 100px;
}

.product_container {
  display: flex;
  width: 390px;
  height: 530px;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.product_img {
  max-width: 260px;
  max-height: 340px;
}

.product_info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.brand {
  color: #434343;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}

.name {
  color: #434343;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 6px;
}

.price_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 2px;
}

.price {
  color: #434343;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-right: 2px;
}

.pagenum_container {
  display: flex;
  width: 1372px;
  height: 130px;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #434343;
  padding-top: 40px;
  padding-left: 20px;
}

.pagenum_selected {
  color: #434343;
  font-weight: normal;
  font-size: 20px;
  margin-right: 20px;
}

.pagenum_unselected {
  color: #434343;
  font-weight: normal;
  font-size: 20px;
  opacity: 40%;
  cursor: pointer;
  margin-right: 20px;
}

.rv_container {
  display: flex;
  width: 200px;
  flex-direction: column;
  padding-top: 26px;
  padding-left: 30px;
}

.rv_product {
  width: 140px;
  height: 140px;
  text-align: center;
  margin-bottom: 20px;
}

.rv_image {
  margin: auto;
  max-width: 120px;
  max-height: 120px;
}