* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
a,
button {
  color: #434343;
  font-size: 1.25rem;
  text-decoration: none;
}

header {
  display: flex;
  height: 130px;
  padding: 20px 82px;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 0.5px 1px 1px;
  border-color: #434343;
  max-width: 1920px;
  z-index: 1;
  background-color: #f8f8f3;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding-left: 140px;
}

.nav_links li a:hover {
  color: black;
}

.cta_area {
  list-style: none;
}

.cta_area li {
  display: inline-block;
  padding: 0px 0px 0px 40px;
}

button {
  border: none;
  color: white;
  background-color: rgb(66, 66, 66);
  border-radius: 50px;
  cursor: pointer;
}

.user_picture {
  width: 34px;
  height: 34px;
  margin-top: 14px;
  border-radius: 100px;
}