body {
    width: 1920px;
    height: 1080px;
    background-color: #f8f8f3;
  }

h1{
    font-size: 50px;
    font-weight: normal;
    color: #434343;
    line-height: 0px;
}

h2{
    font-size: 18px;
    font-weight: normal;
    color: #434343;
    line-height: 0px;
    opacity: 70%;
    margin-left: 20px;
}

h3{
    font-size: 18px;
    font-weight: normal;
    color: #434343;
    line-height: 0px;
    opacity: 70%;
}

h4{
    font-size: 20px;
    font-weight: normal;
    color: #434343;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #434343;
    height: 950px;
}

.login_container{
    width: 880px;
    height: 480px;
    border-style: solid;
    border-width: 1px;
    border-color: #434343;
}

.login_text_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    width: 880px;
    height: 140px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #434343;
}

.login_btn_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.google_login{
    display: flex;
    align-items: center;
    width: 500px;
    height: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: #434343;
}

.facebook_login{
    display: flex;
    align-items: center;
    width: 500px;
    height: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: #434343;
    margin-top: 30px;
    margin-bottom: 40px;
}

.logo_container{
    width: 100px;
    height: 80px;
    margin-right: 30px;
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-content: center;
}