body {
  width: 1920px;
  height: 1080px;
  background-color: #f8f8f3;
}

section {
  display: flex;
  flex-flow: column;
}

h1 {
  color: #434343;
  font-weight: normal;
  font-size: 26px;
  line-height: normal;
  margin-left: 20px;
}

h2 {
  color: #434343;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 7px;
}

h3 {
  color: #434343;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 35px;
}

h4 {
  color: #434343;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  margin-right: 30px;
}

h5 {
  color: #434343;
  font-weight: normal;
  font-size: 18px;
  margin-left: 600px;
  cursor: pointer;
}

h6 {
  color: #434343;
  font-weight: normal;
  font-size: 20px;
}

.top_container {
  display: flex;
  width: 1920px;
  height: 770px;
  flex-direction: row;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #434343;
}

.title_area {
  display: flex;
  height: 70px;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #434343;
}

.todays_frag_container {
  display: flex;
  width: 790px;
  height: 770px;
  flex-direction: column;
}

.todays_frag {
  display: flex;
  width: 790px;
  height: 650px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #434343;
}

.todays_frag_img {
  max-height: 500px;
  max-width: 200px;
}

.todays_frag_info {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
}

.brand {
  color: #434343;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 17px;
}

.name {
  color: #434343;
  font-weight: normal;
  font-size: 27px;
  line-height: 45px;
  margin-bottom: 45px;
}

.weather {
  display: flex;
  flex-direction: row;
}

.temp_container {
  margin-right: 58px;
}

.temp {
  color: #434343;
  font-weight: normal;
  font-size: 33px;
  line-height: 44px;
}

.preci {
  color: #434343;
  font-weight: normal;
  font-size: 33px;
  line-height: 44px;
}

.view_more {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.magazine_container {
  display: flex;
  width: 782px;
  height: 770px;
  flex-direction: column;
}

.magazine_content_container {
  display: flex;
  width: 780px;
  height: 700px;
  flex-flow: row wrap;
  box-sizing: content-box;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #434343;
}

.magazine_content {
  display: flex;
  width: 390px;
  height: 350px;
  flex-direction: column;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #434343;
  overflow: hidden;
  cursor: pointer;
}

.magazine_preview {
  display: flex;
  width: 389px;
  height: 199px;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
}

.magazine_preview_img {
  object-fit: cover;
}

.magazine_textarea {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.magazine_top_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.magazine_title {
  color: #434343;
  font-weight: 800;
  font-size: 20px;
  line-height: 40px;
  margin-left: 20px;
}

.magazine_date {
  display: flex;
  color: #434343;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  align-self: flex-end;
  margin-right: 36px;
}

.magazine_explain {
  display: flex;
  color: #434343;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

.right_container {
  display: flex;
  width: 348px;
  height: 770px;
  flex-direction: column;
}

.keyword_container {
  display: flex;
  height: 366px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
}

.keyword_content_container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #434343;
  padding-top: 30px;
  padding-left: 30px;
}

.keywords {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  cursor: pointer;
}

.keyword {
  color: #434343;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 14px;
}

.ads_container {
  display: flex;
  height: 400px;
  flex-direction: column;
  background-image: url("../img/banner_mini.png");
}

.btm_container {
  display: flex;
  width: 1920px;
  height: 682px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #434343;
}

.recommend_container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #434343;
}

.recommend_content_container {
  display: flex;
  height: 488px;
  flex-direction: row;
}

.recommend_left_btn {
  display: flex;
  width: 92px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #434343;
}

.recommend_right_btn {
  display: flex;
  width: 92px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  border-color: #434343;
}

.recommend_content {
  display: flex;
  width: 1736px;
  flex-direction: row;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
  margin-top: 60px;
}

.recommend_btn_area {
  display: flex;
  justify-content: center;
}

.recommend_btn {
  display: flex;
  width: 218px;
  height: 50px;
  color: #f8f8f3;
  font-weight: normal;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  background-color: #434343;
  margin-top: 32px;
  cursor: pointer;
}

.recommend {
  display: flex;
  width: 700px;
  height: 370px;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #434343;
  margin-right: 20px;
}

.recommend_nickname_area {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 40px;
}

.recommend_nickname {
  color: #434343;
  font-weight: normal;
  font-size: 18px;
  margin-right: 6px;
}

.recommend_products_area {
  display: flex;
  height: 183px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.recommend_title {
  display: flex;
  color: #434343;
  font-weight: normal;
  font-size: 20px;
  margin-left: 40px;
}

.recommend_explain {
  display: block;
  width: 620px;
  color: #434343;
  font-weight: normal;
  font-size: 16px;
  white-space: nowrap;
  margin-top: 10px;
  margin-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}